
<h1>Ask A Question Star Ratings ( <%= @month %> )</h1>
  <%= form_tag aaq_search_path do %>
    <%= select_tag "month", options_for_select(@months, @month) %>
    <%= submit_tag "Search", class: "btn btn-default" %>
  <% end %>
  <table class="table table-hover">
    <thead>
      <th><h4>Technical Coach</h4></th>
      <th><h4>1 Star</h4></th>
      <th><h4>2 Star</h4></th>
      <th><h4>3 Star</h4></th>
      <th><h4>4 Star</h4></th>
      <th><h4>5 Star</h4></th>
    </thead>
    <tbody>
      <% TechnicalCoach.all.get_aaq_coaches.sort_by{|tc| tc.name}.each do |tc|%>
        <tr>
          <td><h4><%= link_to tc.name, find_tc_aaq_path(tc.slug) %></h4></td>
          <td><h4><%= tc.get_aaq_ratings_by_month(@month).star_count(1) %> (<%= tc.get_aaq_ratings_by_month(@month).star_percent(1) %>%)</h4></td>
          <td><h4><%= tc.get_aaq_ratings_by_month(@month).star_count(2) %> (<%= tc.get_aaq_ratings_by_month(@month).star_percent(2) %>%)</h4></td>
          <td><h4><%= tc.get_aaq_ratings_by_month(@month).star_count(3) %> (<%= tc.get_aaq_ratings_by_month(@month).star_percent(3) %>%)</h4></td>
          <td><h4><%= tc.get_aaq_ratings_by_month(@month).star_count(4) %> (<%= tc.get_aaq_ratings_by_month(@month).star_percent(4) %>%)</h4></td>
          <td><h4><%= tc.get_aaq_ratings_by_month(@month).star_count(5) %> (<%= tc.get_aaq_ratings_by_month(@month).star_percent(5) %>%)</h4></td>
        </tr>
      <%end%>
    </tbody>
  </table>
